# Core app packages
flask
Flask-Cors
python-dotenv

# Langchain and supported integrations
langchain==0.1.20
langchain-community==0.0.38
langchain-core
langchain-groq
langchain-pinecone
langchain_experimental
langchain_groq

# Pinecone
pinecone-client[grpc]

# Embeddings using sentence-transformers (via Langchain)
sentence-transformers==2.2.2
transformers
torch
huggingface_hub==0.22.2  # Compatible with sentence-transformers 2.2.2

# PDF support
pypdf

# Local package
-e .
